.nav-item {
  font-size: 18px;
  text-transform: uppercase;
  height: 82px;
  line-height: 64px;
  margin: 0 10px; /* Adjust spacing between nav items */
}

.collapse {
  transition: max-height 0.3s ease-in-out;
}

.collapse.show {
  display: block !important;
  max-height: 500px; /* Adjust as needed */
}



.flare {
  background: #5988e2;
  background: #5988e2;
}


.flare a.nav-link {
  color: #fff !important;
  color: #fff !important;
}

.topbarElements > div:nth-of-type(1) {
  font-size: 1.5rem; /* Adjusted font size */
  color: #ccc;
}

.topbarElements > div:nth-of-type(1) {
  font-size: 1.5rem; /* Adjusted font size */
  color: #ccc;
}

@media screen and (min-width: 1040px) {
  .flare {
    margin-right: -15px;
  }
}
@media screen and (min-width: 1040px) {
  .flare {
    margin-right: -15px;
  }
}

/* @media screen and (max-width: 1029px) {} */

@media screen and (max-width: 1029px) {
  .navbar-nav {
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 15px;
    text-align: center;
  }

  .nav-item {
    background : rgba(255,255,255,0.1);
    margin:2px;
  }
}
