<section>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="active"><b>CUSTOMER LOGIN</b></h2>
      <div class="fadeIn first">
        <img src="" id="icon" alt="" />
      </div>

      <form [formGroup]="loginForm" (submit)="login()">
        <div id="wrong" class="text-center text-danger mx-4 rounded mb-3" style="display: none">Either the Username or Password you've entered is incorrect!
        </div>
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="Enter Username" formControlName="email" />
        <div id="nousername" class="text-danger mt-2 mb-3" style="display: none">
          <!-- <small>Please input a username</small> -->
        </div>
        <!-- <input [type]="showPassword ? 'text' : 'password'" id="password" class="fadeIn third" name="password" placeholder="Enter Password" formControlName="password"/>
        <i
        (click)="togglePasswordVisibility()"
        class="fa {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }} password-toggle-icon"
        style="position: absolute; right: 600px; top: 400px; transform: translateY(-50%); cursor: pointer;"></i> -->
        <div class="password-container">
          <input 
            [type]="showPassword ? 'text' : 'password'" 
            id="password" 
            class="fadeIn third password-input" 
            name="password" 
            placeholder="Enter Password" 
            formControlName="password" 
          />
          <i
            (click)="togglePasswordVisibility()"
            class="fa {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }} password-toggle-icon"
          ></i>
        </div>
        
        <input type="submit" class="fadeIn fourth btn" value="Log In"/>
      </form>
      <br>
      <a routerLink="/signup" class="text-dark bg-dark-50 fw-bold">SIGN UP</a>
    </div>
  </div>
</section>
